<script>
$(document).ready(function(){
    $('.image').dimmer({on: 'hover'});
});
</script>
<div class="ui grid">
<div class="nine wide centered column" style="margin-top: 10px;">
<div class="ui six column grid">
	<% @row_counter = 0 %>
	<% @students.each do |student| %>
		<div class="column" style="text-align:center;">
			<div class="ui fluid card" style="margin-bottom: -20px;">
      			<div class="ui small dimmable image" style="padding: 5px;">
      				<div class="ui inverted dimmer">
        				<div class="content">
        					<div class="ui grid">
	        					<div class="red ui statistic" style="padding-bottom: 1px; margin-bottom: 2px; margin-top: -5px;">
	        						<div class="value">
	        							<%= student.score %>
	        						</div>
	        						<div class="label">
	        							Gunner Points
	        						</div>
	        					</div>
	        					<div class="centered ui vertical labeled icon compact mini buttons">
								  <div class="red inverted compact mini ui button">
								    <i class="crosshairs icon"></i>
								    Pew!!!
								  </div>
								  <div class="blue inverted compact mini ui button">
								    <i class="cloud icon"></i>
								    Zzzz...
								  </div>
								</div>
	          				</div>
        				</div>
      				</div>
        			<%=picture(student)%>
     			</div>
      			<div class="content" style="margin-top: -8px; font-size: 8.5px;">
        			<a class="header"><%=student.first_name%> <%=student.last_name%></a>
      			</div>
      			<div class="meta" style="margin-top: -10px; font-size: 8px;">
        			<a>ICM <%=student.icm%></a>
      			</div>

    		</div>
    	</div>
	<% end %>
</div>
</div>
</div>



<p style="margin-top: 50px;">Sort by:</p>

<div class="ui buttons">
	  <%= link_to "<button class=\"ui yellow button\"><i class='sort alphabet ascending icon'></i>Last Name</button>".html_safe, sort: "last_name" %>
	  <%= link_to "<button class=\"ui green button\"><i class='sort numeric ascending icon'></i>ICM</button>".html_safe, sort: "icm, last_name"%>
	  <%= link_to "<button class=\"ui blue button\">Top Gunner</button>".html_safe, sort: "score, last_name" %>
</div>

